<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!-- mybatis的配置总文件 -->
<configuration>

<!--    <typeAliases>-->
<!--        &lt;!&ndash; 直接扫描指定包下的实体，自动生成默认为类名首字母小写的别名 &ndash;&gt;-->
<!--        <package name=""/>-->
<!--    </typeAliases>-->

    <!--
    2、settings 包含了很多重要的设置项
    setting 用来设置每一个设置项
        name 设置项名
        value 设置项取值
    -->
    <settings>
        <!-- mapUnderscoreToCamelCase 驼峰命名规范映射javabean风格（last_name -> lastName） -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 延时加载 -->
        <!-- 显示的指定的我们需要更改的配置的值，即使他是默认的。防止版本更新带来的问题 -->
        <!-- 懒加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 在开启懒加载的情况下，true 随时加载（查询2次） false 按需加载（查询1次） -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <!-- plugins 插件注册 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 分页参数合理化 -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>




</configuration>