<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div th:fragment="cssfile">
    <link rel="stylesheet" href="../css/font.css" th:href="@{/static/css/font.css}" type="text/css"/>
    <link rel="stylesheet" href="../css/register.css" th:href="@{/static/css/register.css}" type="text/css"/>
    <link rel="stylesheet" href="../css/index.css" th:href="@{/static/css/index.css}" type="text/css"/>
    <link rel="stylesheet" href="../css/login.css" th:href="@{/static/css/login.css}" type="text/css"/>
    <link rel="stylesheet" href="../css/mypage.css" th:href="@{/static/css/mypage.css}" type="text/css"/>
    <link rel="stylesheet" href="../css/commodityMsg.css" th:href="@{/static/css/commodityMsg.css}" type="text/css"/>
    <link rel="stylesheet" href="../css/showpage.css" th:href="@{/static/css/showpage.css}" type="text/css"/>
    <script src="vendor/jquery/jquery.min.js" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
</div>
<body>
<!-- 顶部栏 -->
<div id="topbox" th:fragment="head">
    <div>
        <p>商品共享平台</p>
    </div>
    <div id="atagbox">
        <div id="indextaga" class="ainner">
            <a href="/index" th:href="@{/index}">&nbsp;首页</a>
        </div>
        <div class="ainner">
            <a href="#" th:href="@{/to_showpage}">&nbsp;索引</a>
        </div>
        <div class="ainner">
            <a href="#">&nbsp;xx</a>
        </div>
        <div class="ainner">
            <a href="#">&nbsp;xx</a>
        </div>
        <div class="ainner">
            <a href="#">&nbsp;xx</a>
        </div>
        <div id="loginbox">
            <div><img src="../img/user.jpeg" th:src="@{/static/img/user.jpeg}"></div>
            <div><a href="#">customer</a></div>
        </div>
    </div>
</div>
</body>
</html>