<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/commons/head::cssfile}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commodityPage</title>
</head>
<style>
    #bgbox{
        height: auto;
    }
    .hotrank>a{
        color: black;
        text-decoration:none;
    }
    .hotrank>a:hover{
        font-size: 20px;
        color: green;
        text-decoration:none;
    }
    .hotrank>a:focus{
        font-size: 20px;
        color: red;
        text-decoration:none;
    }
</style>

<body>
<!-- 出租商品模态框 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="leaseCommodity">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">租借商品</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="control-label">商品名:</label>
                            <span id="commodityName"></span>
                        </div>
                        <div class="form-group">
                            <label for="orderBeginRentTime" class="control-label">租借开始:</label>
                            <input type="date" class="form-control" id="orderBeginRentTime" onblur="total()">
                        </div>
                        <div class="form-group">
                            <label for="orderEndRentTime" class="control-label">租借结束:</label>
                            <input type="date" class="form-control" id="orderEndRentTime" onblur="backTime();total();">
                        </div>
                        <div class="form-group"><!-- 默认为结束时间次日 -->
                            <label for="orderBackTime" class="control-label">返还时间:</label>
                            <span id="orderBackTime"></span>
                        </div>
                        <div class="form-group">
                            <label for="commodityNum" class="control-label">租借数量:</label>
                            <input type="number" class="form-control" id="commodityNum" onblur="total()">
                        </div>
                        <div class="form-group">
                            <label for="commodityTotal" class="control-label">商品总价:</label>
                            <span id="commodityTotal"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="lease()">确认租借</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="bgbox" >
        <!-- 顶部栏 -->
        <div th:replace="~{/commons/head::head}"></div>
        <!-- 主体 -->
        <div id="bodybox">
            <!-- 导航区 -->
            <div id="leftbox">
                <div class="lefttitle">
                    <span>最新商品排行</span>
                </div>
                <div class="hotrank">
                </div>
            </div>
            <!-- 商品展示区 -->
            <div id="rightbox">
                <div id="innertitle"></div>
                <div id="innerbody">
                    <div>
                        <div id="commodityImg"></div>
                        <div id="commodityMsg"></div>
                        <div id="leaseBox">
                            <input type="button" class="btn btn-success" data-toggle="modal" data-target="#leaseCommodity" value="租借"/>
                        </div>
                    </div>
                </div>
                <!-- 评论区 -->
                <div id="communicationbox">

                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{/commons/head::js}"></div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    //项目地址
    var PROJECT_PATH = [[${#httpServletRequest.getContextPath()}]];

    $(document).ready(function(){
        //获取商品信息
        getCommodity()
        //获取该商品的评论
        getComment();
        //获取热门商品
        getHotCommodities();
    });

    //获取商品信息
    function getCommodity(){
        var id = [[${param.commodityId}]];

        $.ajax({
            url : PROJECT_PATH + "/commodity/commodity/"+id,
            dataType : "json",
            type : "get",
            sync : false,
            success: function(data){
                if(data.code == 10000){
                    var commodity = data.data;
                    //创建显示商品信息元素
                    buildCommodityMsgElm(commodity);
                }else{
                    alert(data.msg);
                }
            }
        });
    }

    //创建显示商品信息元素
    function buildCommodityMsgElm(commodity){
        var commodityImg = $("#commodityImg");
        var commodityMsg = $("#commodityMsg");
        //生成标题
        $("#innertitle").append(commodity.commodityName);
        //生成图片
        commodityImg.append("<img stlye='width: 1200px; height: 500px' src='" + PROJECT_PATH + commodity.commodityImgSrc + "' />");
        //生成内容
        var comUserId = $("<input id='comUserId' type='hidden' value='" + commodity.commodityUserId + "'/>");
        var comId = $("<input id='comId' type='hidden' value='" + commodity.commodityId + "'/>");
        var comStatus = $("<div><span>商品状态:</span><span>" + commodity.commodityStatusMsg + "</span></div>");
        var comNum = $("<div><span>商品数量:</span><span id='comNum'>" + commodity.commodityNum + "</span></div>");
        var comQuality = $("<div><span>商品质量:</span><span>" + commodity.commodityQuality + "</span></div>");
        var commodityPrice = $("<div><span>商品单价:</span><span id='comPrice'>" + commodity.commodityPrice + "元</span></div>");
        var comTag = $("<div><span>商品类型标签:</span><span>" + commodity.commodityTag + "</span></div>");

        commodityMsg.append(comId).append(comUserId).append(comStatus).append(comNum).append(comQuality).append(commodityPrice).append(comTag);

        //租借模态框内容显示
        $("#commodityName").append(commodity.commodityName);
        $("#commodityNum").val(1);
        $("#commodityTotal").append(commodity.commodityPrice);
    }

    //获取商品的评论
    function getComment(){
        var commodityId = [[${param.commodityId}]];

        $.ajax({
            url : PROJECT_PATH + "/comment/comments",
            dataType : "json",
            type : "post",
            data : {"commodityId" : commodityId[0]},
            sync : false,
            success : function(data){
                if(data.code == 10000){
                    var comments = data.data;
                    //创建显示商品评论
                    buildCommentList(comments);
                }else{
                    alert(data.msg);
                }
            }
        });
    }

    //生成评论列表
    function buildCommentList(comments){
        var communicationbox = $("#communicationbox");
        communicationbox.empty();
        //生成发表篇评论元素
        var talkbox = $("<div id=\"talkbox\" class='row'><div id=\"talktext\" class='col9'><textarea placeholder=\"请文明用语\" ></textarea></div><div id=\"talkbut\" class='col-3'><input type=\"button\" class=\"btn btn-default\" onclick='postComment()' value=\"发送\"></div></div>")
        communicationbox.append(talkbox);
        //生成讨论信息元素
        $.each(comments,function(index,comment){
            var speakbox = $("    <div class=\"speakbox\">\n" +
                "        <div class=\"headimg\">\n" +
                "        <img src=\"/CommoditySharePlatformWeb_war/static/img/user.jpeg\" /><br>\n" +
                "        <span>"+comment.commentUserName+"</span>\n" +
                "        </div>\n" +
                "        <div class=\"speek\">\n" +
                "        <span>"+comment.commentContent+"</span>\n" +
                "        </div>\n" +
                "        </div>\n" +
                "        <hr>");
            communicationbox.append(speakbox);
        });
    }

    //发表评论
    function postComment(){
        var userId = [[${session.userId}]];
        var commodityId = [[${param.commodityId}]];
        if (userId == "" || userId == undefined || userId == null){
            window.location.href = PROJECT_PATH + "/to_login";
            return ;
        }

        //发送添加评论请求
        var text = $("#talktext>textarea").val();
        text = text.trim();
        if (text == null || text == undefined || text == ""){
            alert("请输入发言内容");
            return ;
        }
        $.ajax({
            url : PROJECT_PATH + "/comment/comment",
            dataType : "json",
            type : "post",
            data : {"commentContent":text,"commentUserId":userId,"commentCommodityId":commodityId[0]},
            sync : false,
            success : function(data){
                if(data.code == 10000){
                    getComment();
                }else{
                    alert(data.msg);
                }
            }
        });
    }

    //计算返还时间
    function backTime(){
        // var orderBeginRentTime = $("#orderBeginRentTime").val();
        var orderEndRentTime = $("#orderEndRentTime").val();
        var orderBackTimeElm = $("#orderBackTime");
        var day = 1*1000*60*60*24;

        var date = new Date(orderEndRentTime).getTime();

        if (orderEndRentTime != null || orderEndRentTime != undefined || orderEndRentTime != ""){
            orderBackTimeElm.empty();
            var backTime = new Date();
            backTime.setTime(date + day);
            orderBackTimeElm.append(backTime.getFullYear() + "/" + (backTime.getMonth()+1) + "/" + backTime.getDate());
        }
    }
    //计算商品总价
    function total(){ /* 天数*单价*数量 */
        var orderBeginRentTime = $("#orderBeginRentTime").val();
        var orderEndRentTime = $("#orderEndRentTime").val();
        var commodityNum = $("#commodityNum").val(); /* 数量 */
        var commodityPrice = $("#comPrice").text().trim(); /* 单价 */
        var day = 1;/* 天数 */

        if ((orderBeginRentTime != null || orderBeginRentTime != undefined || orderBeginRentTime != "")
        && (orderEndRentTime != null || orderEndRentTime != undefined || orderEndRentTime != "")){
            var beginTime = new Date(orderBeginRentTime).getTime();
            var endTime = new Date(orderEndRentTime).getTime();

            if (beginTime< endTime){
                day = (endTime - beginTime)/1000/60/60/24;
            }
        }

        var total = parseInt(commodityNum)*day*parseInt(commodityPrice);

        $("#commodityTotal").empty();
        $("#commodityTotal").append(total+"元");

    }

    //租借请求
    function lease(){
        if(validate()){
            var orderBeginRentTime = $("#orderBeginRentTime").val();
            var orderEndRentTime = $("#orderEndRentTime").val();
            var commodityNum = $("#commodityNum").val(); /* 数量 */
            var commodityPrice = $("#comPrice").text().trim().replace("元",""); /* 单价 */
            var orderPubUser = $("#comUserId").val();
            var orderCommodityId = $("#comId").val();
            $.ajax({
                url : PROJECT_PATH + "/transaction/lease",
                dataType : "json",
                type : "post",
                data : {
                    "orderBeginRentTime":orderBeginRentTime,
                    "orderEndRentTime":orderEndRentTime,
                    "orderCommodityNum":commodityNum,
                    "commodityPrice":commodityPrice,
                    "orderPubUser":orderPubUser,
                    "orderCommodityId":orderCommodityId,
                },
                sync : false,
                success : function(data){
                    if(data.code == 10000){
                        alert("租借成功");
                        window.location.href = PROJECT_PATH + "/to_commoditypage?commodityId=" + orderCommodityId;
                    }else{
                        alert(data.msg);
                    }
                }
            });
        }
    }

    //数据校验
    function validate(){
        var orderBeginRentTime = $("#orderBeginRentTime").val();
        var orderEndRentTime = $("#orderEndRentTime").val();
        var commodityNum = $("#commodityNum").val();
        var comNum = $("#comNum").text();
        var now = new Date();

        var beginTime = null;
        if (orderBeginRentTime != null || orderBeginRentTime != undefined || orderBeginRentTime != ""){
            beginTime = new Date(orderBeginRentTime);
        }else return false;

        var endTime = null;
        if (orderEndRentTime != null || orderEndRentTime != undefined || orderEndRentTime != ""){
            endTime = new Date(orderBeginRentTime);
        }else return false;

        if (beginTime.getTime() > endTime.getTime()){
            alert("开始时间不能小于结束时间");
            return false;
        }
        if ((beginTime.getTime() < now.getTime()) || (endTime.getTime() < now.getTime())){
            alert("开始和结束时间不能小于当前时间时间");
            return false;
        }

        if (commodityNum == null || commodityNum == undefined || commodityNum == ""){
            alert("请设置商品数量");
            return false;
        }
        if (parseInt(commodityNum) > parseInt(comNum)){
            alert("商家没有那么多商品");
            return false;
        }
        return true;
    }
    // <a href="">
    //     <div class="item one">
    //     <div class="rank"><span>1</span></div>
    // <div class="imgbox"><img src="../img/dongman2.png" /></div>
    //     <div class="itemname"><span>xx</span></div>
    // </div>
    // </a>
    function getHotCommodities(){
        $.ajax({
            url : PROJECT_PATH + "/commodity/commodities",
            dataType : "json",
            type : "get",
            sync : false,
            data : {"pn":"1","ps":"10","commodityStatus":100,"orderByAsc":"COMMODITY_CREATE_DATA"},
            success : function(data){
                if(data.code == 10000){
                    //生成元素
                    var hotrank = $(".hotrank");
                    var list = data.data.list;

                    $.each(list,function(index,com){
                        var  appendElm = null;
                        if (index == 0){
                            appendElm = $("<a href='" + PROJECT_PATH + "/to_commoditypage?commodityId=" + com.commodityId + "'>\n" +
                                "        <div class='item one'>\n" +
                                "        <div class='rank'><span>1</span></div>\n" +
                                "    <div class='imgbox'><img src='" + PROJECT_PATH + com.commodityImgSrc + "' /></div>\n" +
                                "        <div class='itemname'><span>" + com.commodityName + "</span></div>\n" +
                                "    </div>\n" +
                                "    </a>");
                        }else if (index == 1){
                            appendElm = $("<a href='" + PROJECT_PATH + "/to_commoditypage?commodityId=" + com.commodityId + "'>\n" +
                                "        <div class='item two'>\n" +
                                "        <div class='rank'><span>2</span></div>\n" +
                                "    <div class='imgbox'><img src='" + PROJECT_PATH + com.commodityImgSrc + "' /></div>\n" +
                                "        <div class='itemname'><span>" + com.commodityName + "</span></div>\n" +
                                "    </div>\n" +
                                "    </a>");
                        }else if (index == 2){
                            appendElm = $("<a href='" + PROJECT_PATH + "/to_commoditypage?commodityId=" + com.commodityId + "'>\n" +
                                "        <div class='item three'>\n" +
                                "        <div class='rank'><span>3</span></div>\n" +
                                "    <div class='imgbox'><img src='" + PROJECT_PATH + com.commodityImgSrc + "' /></div>\n" +
                                "        <div class='itemname'><span>" + com.commodityName + "</span></div>\n" +
                                "    </div>\n" +
                                "    </a>");
                        }else{
                            appendElm = $("<a href='" + PROJECT_PATH + "/to_commoditypage?commodityId=" + com.commodityId + "'>\n" +
                                "        <div class='item'>\n" +
                                "        <div class='rank'><span>" + (index+1) + "</span></div>\n" +
                                "    <div class='imgbox'><img src='" + PROJECT_PATH + com.commodityImgSrc + "' /></div>\n" +
                                "        <div class='itemname'><span>" + com.commodityName + "</span></div>\n" +
                                "    </div>\n" +
                                "    </a>");
                        }
                        hotrank.append(appendElm);
                    });

                }else{
                    alert(data.msg);
                }
            }
        });
    }

    /*]]>*/
</script>
</html>