<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<div th:replace="~{/commons/head::cssfile}"></div>

<body style="background-image: url(../img/indexbg.jpg);" th:style="background-image: url(@{/static/img/indexbg.jpg});">
    <div id="bgbox" >
        <!-- 顶部栏 -->
        <div th:replace="~{/commons/head::head}"></div>
        <span>&nbsp;</span>
        <!-- 主体 -->
        <div id="bigbox">
            <div class="sortmain">
                <div class="sortmaintitle">
                    <a href="#">生活便利</a>
                    <a href="#">更多>>>>>>></a>
                </div>
                <div class="info">
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/dongman1.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/dongman2.png"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/dongman3.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/dongman5.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/dongman6.png"><br/>
                            xxx
                        </a>
                    </div>
                </div>
            </div>
            <div class="sortmain">
                <div class="sortmaintitle">
                    <a href="showpage.html">服装装扮</a>
                    <a href="showpage.html">更多>>>>>>></a>
                </div>
                <div class="info">
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/game1.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/game2.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/game3.jpeg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/game4.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/game5.jpeg"><br/>
                            xxx
                        </a>
                    </div>
                </div>
            </div>
            <div class="sortmain">
                <div class="sortmaintitle">
                    <a href="showpage.html">娱乐休闲</a>
                    <a href="showpage.html">更多>>>>>>></a>
                </div>
                <div class="info">
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/music1.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/music2.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/music3.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/music4.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/music5.jpg"><br/>
                            xxx
                        </a>
                    </div>
                </div>
            </div>
            <div class="sortmain">
                <div class="sortmaintitle">
                    <a href="showpage.html">电子设备</a>
                    <a href="showpage.html">更多>>>>>>></a>
                </div>
                <div class="info">
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/live1.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/live2.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/live3.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/live4.jpg"><br/>
                            xxx
                        </a>
                    </div>
                    <div>
                        <a href="showpage.html" >
                            <img src="../img/live5.jpeg"><br/>
                            xxx
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 菜单栏 -->
        <div id="tagmeunbox">
            <div>快捷标签链接</div>
            <div class="sort">
                <div>生活便利</div>
                <div>
                    <a class="onea" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="twoa" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="threea" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="foura" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="fivea" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="sixa" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="sevena" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="eighta" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>   
                </div>
            </div>
            <div class="sort">
                <div>服装装扮</div>
                <div>
                    <a class="onea" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="twoa" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="threea" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="foura" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="fivea" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="sixa" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="sevena" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="eighta" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>  
                </div>
            </div>
            <div class="sort">
                <div>娱乐休闲</div>
                <div>
                    <a class="onea" href="showpage.html">&nbsp;xxx&nbsp;</a>
                    <a class="twoa" href="showpage.html">&nbsp;xxx&nbsp;</a>
                    <a class="threea" href="showpage.html">&nbsp;xxx&nbsp;</a>
                    <a class="foura" href="showpage.html">&nbsp;xxx&nbsp;</a>
                    <a class="fivea" href="showpage.html">&nbsp;xxx&nbsp;</a>
                    <a class="sixa" href="showpage.html">&nbsp;xxx&nbsp;</a>

                </div>
            </div>
            <div class="sort">
                <div>电子设备</div>
                <div>
                    <a class="onea" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="twoa" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="threea" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="foura" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                    <a class="fivea" href="showpage.html">&nbsp;&nbsp;xxx&nbsp;&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>