<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/commons/head::cssfile}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body style="background-image: url('/CommoditySharePlatformWeb_war/static/img/indexbg.jpg');" >
    <div id="bgbox" >
        <!-- 顶部栏 -->
        <div th:replace="~{/commons/head::head}"></div>
        <span>&nbsp;</span>
        <!-- 主体 -->
        <div id="bigbox">
            <div class="sortmain" id="life">

            </div>
            <div class="sortmain" id="clothes">

            </div>
            <div class="sortmain" id="play">

            </div>
            <div class="sortmain" id="equipment">

            </div>
        </div>

        <!-- 菜单栏 -->
        <div id="tagmeunbox">
            <div>热门标签链接</div>
            <div class="sort">
                <div>生活便利</div>
                <div id="lifeTags">
                </div>
            </div>
            <div class="sort">
                <div>服装装扮</div>
                <div id="clothesTags">
                </div>
            </div>
            <div class="sort">
                <div>娱乐休闲</div>
                <div id="playTags">

                </div>
            </div>
            <div class="sort">
                <div>电子设备</div>
                <div id="equipmentTags">
                </div>
            </div>
        </div>
    </div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    //项目地址
    var PROJECT_PATH = [[${#httpServletRequest.getContextPath()}]];

    $(document).ready(function(){
        selectCommodity();
    })

    //发送ajax查出各个模块页面前五条数据记录
    function selectCommodity(){
        //查出生活便利的商品
        getCommodities("生活便利","#life");
        //查出服装装扮的商品
        getCommodities("服装装扮","#clothes");
        //查出休闲娱乐的商品
        getCommodities("休闲娱乐","#play");
        //查出电子设备的商品
        getCommodities("电子设备","#equipment");

        getTagsByMainTag("生活便利","#lifeTags",5);

        getTagsByMainTag("服装装扮","#clothesTags",5);

        getTagsByMainTag("休闲娱乐","#playTags",5);

        getTagsByMainTag("电子设备","#equipmentTags",5);
    }

    function getCommodities(tag,id){
        $.ajax({
            url : PROJECT_PATH + "/commodity/commodities",
            dataType : "json",
            type : "get",
            sync : false,
            data : {"commodityTag":tag,"pn":"1","ps":"5","commodityStatus":100},
            success : function(data){
                if(data.code == 10000){
                    buildIndex(tag,id,data.data.list);
                }else{
                    alert(data.msg);
                }
            }

        });
    }

    //生成主页元素
    function buildIndex(tag,id,ls){
        //获取放入页面的元素
        var sortmain = $(id);
        //生成内容标题元素
        var titleDiv = $("<div class='sortmaintitle'></div>");
        var title = $("<a href='" + PROJECT_PATH + "/to_showpage?commodityTag=" + tag + "' >" + tag + "</a>");
        var more = $("<a href='" + PROJECT_PATH + "/to_showpage?commodityTag=" + tag + "'>更多>>>>>>></a>");
        titleDiv.append(title).append(more);
        //生成内容元素
        var contextDiv = $("<div class='info'></div>");
        $.each(ls,function(index,coms){
            var contextDiv2 = $("<div></div>");
            var contexthref = $("<a href='" + PROJECT_PATH + "/to_commoditypage?commodityId=" + coms.commodityId + "' ></a>");
            var contextImg = $("<img src='../img/dongman1.jpg'>");
            contextDiv.append(contextDiv2.append(contexthref.append(contextImg).append("<br/>" + coms.commodityName)));
        });

        //组装
        sortmain.append(titleDiv).append(contextDiv);
    }

    function getTagsByMainTag(mainTag,id,TagSize){
        $.ajax({
            url : PROJECT_PATH + "/commodity/commodityTagsByMainTag",
            dataType : "json",
            type : "get",
            data : {"mainTag":mainTag,"tagSize":TagSize},/* mainTag 主要的标签 TagSize 限制查找出来的标签数 */
            success : function(data){
                if(data.code == 10000){
                    buildTagsNav(data.data,id);
                }else{
                    alert(data.msg);
                }
            }

        });
    }

    //生成标签栏元素
    function buildTagsNav(tags,id){

        var tagInfo = $(id);
        var tagClassList = ["onea","twoa","threea","foura","fivea","sixa","sevena","eighta"];

        $.each(tags,function (index,tag) {
            var tagA = $("<a class='"+ tagClassList[index] +"' href='" + PROJECT_PATH + "/to_showpage?commodityTag=" + tag + "'>&nbsp;&nbsp;" + tag + "&nbsp;&nbsp;</a>");
            tagInfo.append(tagA);
        });
    }

    /*]]>*/
</script>
</html>