<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>login</title>
		<div th:replace="~{/commons/head::cssfile}"></div>
	</head>


	<body style="background-image: url('/CommoditySharePlatformWeb_war/static/img/indexbg.jpg');" >
		<div id="bgbox" >
			<div id="big">
				<div id="title">
					<h2>商品共享平台</h2>
				</div>
				<div id="messagebox">
					<div id="forminfo">
						<input id="user" class="username" type="text" placeholder="用户名"><br />
						<input id="pwd" class="password" type="password" placeholder="密码"><br />
						<input type="submit" value="登录">
					</div>
					<div id="regis">
						<a href="" th:href="@{/to_register}">注册账号</a>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script th:inline="javascript">
		/*<![CDATA[*/
		//项目地址
		var PROJECT_PATH = [[${#httpServletRequest.getContextPath()}]];

		/*]]>*/
	</script>
</html>
