<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/commons/head::cssfile}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>

<body style="background-image: url('/CommoditySharePlatformWeb_war/static/img/indexbg.jpg');" >
    <div id="bgbox" >
        <div id="big">
            <div id="title">
                <h2>注册</h2>
            </div>
            <div id="registerbox">
                <form action="" method="">
                    <p>用户名</p>
                    <input id="user" type="text" placeholder="用户名"><br>
                    <p>电子邮箱</p>
                    <input id="email" type="email" placeholder="电子邮箱"><br>
                    <p>密码</p>
                    <input id="pwd" type="password" placeholder="密码"><br>
                    <p>重复密码</p>
                    <input id="repwd" type="password" placeholder="重复密码"><br>

                    <input type="submit" value="注       册"><br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>